#include <windows.h>

// 主应用程序图标
IDI_MAIN_ICON ICON "logo_small.ico"

// 小图标
// IDI_SMALL_ICON ICON "logo_small.ico"

// Manifest 文件
//CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"